<th:block th:fragment="navlinks(activeLink)">
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${activeLink} == 'home' ? 'active':''">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'appointments' ? 'active':''">
                <a class="nav-link" th:href="@{/appointments/all}">Appointments</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'works' ? 'active':''">
                <a class="nav-link" th:href="@{/works/all}">Classes</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'providers' ? 'active':''">
                <a class="nav-link" th:href="@{/providers/all}">Trainers</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'customers' ? 'active':''">
                <a class="nav-link" th:href="@{/customers/all}">Members</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'invoices' ? 'active':''">
                <a class="nav-link" th:href="@{/invoices/all}">Invoices</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Location <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="https://dashboard.heroku.com/apps/smartgymone">A</a></li>
                    <li><a href="https://dashboard.heroku.com/apps/smartgymtwo">B</a></li>
                    <li><a href="https://dashboard.heroku.com/apps/smartgymthree">C</a></li>
                </ul>
            </li>
        </ul>
    </div>
</th:block>